{{ define "main" }}
  <section class="section blog-list">
    <div class="container">
      <header class="blog-list__header">
        <h1 class="blog-list__title">{{ .Title }}</h1>
        {{ with .Params.description }}<p class="blog-list__intro">{{ . }}</p>{{ end }}
      </header>

      {{/* Filters alleen renderen als er minstens 2 categorieën zijn */}}
      {{ if ge (len site.Taxonomies.categories) 2 }}
        {{ partial "blog-filters.html" (dict "activeSlug" "achtergrond_wcag" "Context" .) }}
      {{ end }}

      {{/* NL: alleen achtergrond_wcag posts tonen. EN: alle posts (te weinig om te filteren). */}}
      {{ $posts := .RegularPages }}
      {{ if eq .Lang "nl" }}
        {{ $posts = where $posts "Params.categories" "intersect" (slice "achtergrond_wcag") }}
      {{ end }}
      {{ $paginator := .Paginate $posts }}

      <div class="blog-list__grid row">
        {{ range $paginator.Pages }}
          <div class="md:col-6 lg:col-4 mb-10">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>

      {{ partial "components/pagination.html" . }}
    </div>
  </section>
{{ end }}
