{{ define "main" }}
  {{ $slug := .Data.Term | urlize | lower }}
  <section class="section blog-list">
    <div class="container">
      <header class="blog-list__header">
        <h1 class="blog-list__title">{{ .Title }}</h1>
        {{ with .Params.description }}<p class="blog-list__intro">{{ . }}</p>{{ end }}
      </header>

      {{/* Alleen filters tonen voor category-terms, niet voor tags */}}
      {{ if eq .Type "categories" }}
        {{ if ge (len site.Taxonomies.categories) 2 }}
          {{ partial "blog-filters.html" (dict "activeSlug" $slug "Context" .) }}
        {{ end }}
      {{ end }}

      {{ $paginator := .Paginate .Pages.ByWeight }}
      <div class="blog-list__grid row">
        {{ range $paginator.Pages }}
          <div class="md:col-6 lg:col-4 mb-10">
            {{ partial "components/blog-card" . }}
          </div>
        {{ end }}
      </div>

      {{ partial "components/pagination.html" . }}
    </div>
  </section>
{{ end }}
